@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";


@font-face {
  font-family: 'Police1';
  src: url('/font/police-1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Police2';
  src: url('/font/police-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Police';
  src: url('/font/police-3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #c1c79e;
  --color-theme-white: #feffff;
  --color-secondary-100: #344e3a;
  --color-secondary-300: #3d5d63;
  --color-secondary-400: #0c353c;
  --color-secondary-500: #002115;
  /* --color-secondary-500: #012d1d; */
  --font-inter: "Inter", sans-serif;
  --font-police-1: "Police1", sans-serif;
  --font-police: "Police", sans-serif;
  --font-police-3: "Police2", sans-serif;
  --breakpoint-xs: 450px;
}

body {
  @apply bg-secondary-500 text-theme-white font-inter;
}

.container {
  @apply max-w-[1292px] mx-auto px-2 xs:px-4 md:px-5 lg:px-10 xl:px-5;
}

.auth-bg {
  @apply bg-[linear-gradient(111deg,rgba(0,33,21,0.8)_30.02%,rgba(12,53,60,0.16)_96.31%),url('/auth-bg.png')];
}

.section_title {
  @apply text-[#C1C79E] text-center text-3xl sm:text-[40px] leading-[120%] tracking-wide font-police;
}

.section_sub_title {
  @apply text-[#F9FAFB] text-center sm:text-lg font-normal leading-[150%];
}

.gradient_circle {
  @apply w-[328px] h-[328px] rounded-full bg-[#C1C79E66] blur-[150px] absolute;
}

.small_btn {
  @apply flex w-[100px] sm:w-[121px] sm:h-12 py-2 px-2.5 justify-center items-center gap-2.5 rounded-md sm:rounded-2xl bg-primary hover:bg-[#a9b469] transition duration-300 text-[#051619] max-sm:text-sm font-semibold leading-6;
}

/* 
.section_title span {
  @apply text-primary-pink;
}


.signup_main {
  background-image: url(../src/assets/Signup.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.auth_input {
  @apply bg-[#F3E8FF33] border rounded-full px-3 xl:px-4 py-2 xl:py-3 block w-full outline-none;
}

.auth_label {
  @apply text-off-white mb-1 xl:mb-2 xl:text-lg block;
}

.input {
  @apply rounded-md border bg-primary-black px-3 py-2 md:py-2.5 outline-none mt-2 w-full block border-gray-400 text-sm md:text-base;
}

.label {
  @apply text-sm md:text-lg block w-full;
}

.choose_box {
  @apply rounded-2xl px-4 xl:px-5 py-4 xl:py-8 bg-[linear-gradient(0deg,_#101324_0%,_#10172D_3%,_#101C3A_6%,_#112D6C_17%,_#11388B_25%,_#113C97_30%,_#191C25_100%)];
}

.chat-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #274f45;
} */
